.weather {
  display: flex;
  position: relative;
  margin: 28px 0 0;
  align-items: center;
}

.weather__info {
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 40px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  position: absolute;
  margin: 0 0 0 16px;
}

.weather_image {
  width: 100%;
}
